<div class="container" *ngIf="speaker">

  <div class="session-details">
    <h3>{{speaker.first_name}}</h3>
    <div>
      <label>ID: </label>
      <span>{{ speaker.id }}</span>
    </div>
    <div>
      <label>First name: </label>
      {{speaker.first_name}}
    </div>
    <div><label>Last name: </label>{{speaker.last_name}}</div>
  </div>

  <div class="input-group">
    <label for="session-name">First name: </label>
    <input id="session-name" [(ngModel)]="speaker.first_name" placeholder="Enter speaker first name">
    <label for="session-length">Last name: </label>
    <input id="session-length" [(ngModel)]="speaker.last_name" placeholder="Enter speaker last name">
  </div>

  <button mat-flat-button (click)="save()">Save</button>
</div>
