<div class="container" *ngIf="session">

  <div class="session-details">
    <h3>{{session.session_name}}</h3>
    <div>
      <label>ID: </label>
      <span>{{ session.id }}</span>
    </div>
    <div>
      <label>Name: </label>
      {{session.session_name}}
    </div>
    <div><label>Description: </label>{{session.session_description}}</div>
    <div><label>Length: </label>{{session.session_length}}</div>
    <div><label>Start: </label>{{session.session_start}}</div>
    <div><label>End: </label>{{session.session_end}}</div>
  </div>

    <div class="input-group">
      <label for="session-name">Name: </label>
      <input id="session-name" [(ngModel)]="session.session_name" placeholder="Enter session name">
      <label for="session-length">Length: </label>
      <input id="session-length" [(ngModel)]="session.session_length" placeholder="Enter session length">
      <label for="session-description">Description: </label>
      <input id="session-description" [(ngModel)]="session.session_description" placeholder="Enter session description">
      <label for="session-start">Start time: </label>
      <input id="session-start" [(ngModel)]="session.session_start" placeholder="Enter start time">
      <label for="session-end">End time: </label>
      <input id="session-end" [(ngModel)]="session.session_end" placeholder="Enter end time">
    </div>
    <button mat-flat-button (click)="save()">Save</button>
</div>
